<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>玩转spring boot——国际化</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>
<body>
<h1>玩转spring boot——国际化</h1>
<br/>
<a href="javascript:void(0)" onclick="hello('en-US')">English(US)</a>
<a href="javascript:void(0)" onclick="hello('zh-CN')">简体中文</a>
<br/>
<h3 id="text">hello</h3>
<script>
    function hello(lang) {
        $.ajax({
            url: "/sayHello",
            headers: {"Accept-Language": lang},
            success: function (data) {
                $("#text").html(data);
            }
        })
    }
</script>
</body>
</html>